Package: com.zznq.trollappduplicator
Name: TrollAppDuplicator
Version: 1.2
Architecture: iphoneos-arm
Description: iOS App duplicator for TrollStore
Maintainer: 巴斯.zznQ
Author: 巴斯.zznQ
Section: Utilities
